@import url("https://fonts.googleapis.com/css2?family=Lato&family=Palette+Mosaic&family=Raleway:wght@100&family=Rock+3D&family=Rubik+Glitch&family=Indie+Flower&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-cdpink;
  text-decoration: none;
  @apply bg-opacity-0;
  @apply border-2 border-white;
}

.nav-link:hover {
  @apply border-2 border-cdpink;
  @apply cursor-pointer;
}

.router-link-active {
  @apply text-cdpink bg-white border-2 border-cdpink;
}

.React {
  @apply text-black bg-sky-200 border-2 border-sky-200;
}
.JavaScript {
  @apply text-black bg-yellow-300 border-2 border-yellow-200;
}
.Typescript {
  @apply text-white bg-blue-400 border-2 border-blue-400;
}
.Vue {
  @apply text-white bg-emerald-400 border-2 border-emerald-400;
}
.Node {
  @apply text-white bg-green-400 border-2 border-green-400;
}
.PHP {
  @apply text-white bg-blue-900 border-2 border-blue-900;
}
.Go {
  @apply text-black bg-cyan-200 border-2 border-cyan-200;
}
.Angular {
  @apply text-white bg-red-600 border-2 border-red-600;
}
.AWS {
  @apply text-black bg-orange-400 border-2 border-orange-400;
}

.disabledSkill {
  @apply border-gray-200 border-2 bg-white text-gray-400 rounded-full;
}

@layer base {
  html,
  body {
    @apply m-0;
    @apply h-full;
    @apply text-lg;
    @apply font-sans;
  }
  h1 {
    font-family: "Indie Flower", cursive;
    @apply text-3xl;
  }
  h2 {
    font-family: "Palette Mosaic", cursive;
    @apply text-5xl;
  }
  a {
    @apply text-cdpink font-bold underline;
  }
  .button {
    @apply bg-transparent hover:bg-cdblue text-cdblue font-semibold hover:text-white py-2 px-3 border border-cdblue hover:border-transparent rounded-full no-underline;
  }
}
